<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.mappers.ManagerMapper">
    <select id="get" resultType="com.example.hotel.models.response.ManagerResponse">
        <![CDATA[
             select * from manager
        ]]>

        <where>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="name != null and name != ''">
                and name ILIKE CONCAT('%' || #{name} || '%')
            </if>
        </where>

        order by create_date

        <if test="limit > 0">
            OFFSET (#{page} - 1) * #{limit} FETCH NEXT #{limit} ROWS ONLY
        </if>
    </select>

    <select id="count" resultType="Integer">
        select count(*) from manager
        <where>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="name != null and name != ''">
                and name ILIKE CONCAT('%' || #{name} || '%')
            </if>
        </where>
    </select>

    <select id="checkManager" resultType="com.example.hotel.models.response.ManagerResponse">
        select * from manager
        where code = #{code}
        limit 1;
    </select>

    <select id="create" resultType="com.example.hotel.models.response.ManagerResponse" parameterType="com.example.hotel.models.request.ManagerRequest">
        INSERT INTO manager(
            "name",
            "phone",
            "email",
            "address",
            "code",
            "create_date"
        )VALUES(
            #{name},
            #{phone},
            #{email},
            #{address},
            #{code},
            NOW()
        ) RETURNING *;
    </select>

    <select id="update" resultType="com.example.hotel.models.response.ManagerResponse" parameterType="com.example.hotel.models.request.ManagerRequest">
        UPDATE manager
        SET
            "name" = #{name},
            "phone" = #{phone},
            "email" = #{email},
            "address" = #{address},
            "edit_date" = NOW()
        WHERE id = #{id}::uuid
        RETURNING *;
    </select>

</mapper>