<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.mappers.ReviewMapper">
    <select id="create" resultType="com.example.hotel.models.response.ReviewResponse" parameterType="com.example.hotel.models.request.ReviewRequest">
        INSERT INTO review_room (
            name,
            avatar,
            description,
            star,
            room_id,
            create_date
        )VALUES(
            #{name},
            #{avatar},
            #{description},
            #{star},
            #{roomId}::uuid,
            NOW()
        )
        RETURNING *;
    </select>

    <select id="get" resultType="com.example.hotel.models.response.ReviewResponse" parameterType="com.example.hotel.models.request.ReviewRequest">
        select * from review_room
        <where>
            <if test="id != null and id != ''">
                and id = #{id}::uuid
            </if>
            <if test="roomId != null and roomId != ''">
                and room_id = #{roomId}::uuid
            </if>
        </where>
    </select>
</mapper>